.body {
    margin: 0px;
    padding: 0px;
}

.container {
    position: relative;
    width: 1200px;
    height: 600px;
    border: 2px solid black;
    background-color: black;
    cursor: none;
    padding: 0px;
}

.ball1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}

.ball2 {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.ball3 {
    background-color: orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.ball4 {
    background-color: purple;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}